--- 
layout: connect-tree
---

    <header class="grid-center">
      <div class=" col-11 center mob-hide">
        <a href="/" class="logo-home center "> 
          <img src="{{site.data.general.basics.logo_image}}" alt="{{site.data.general.basics.logo-alt}}" /></a>
      </div>
      <p class=" col-1-middle fixed hamburger-color hamburger padded" style="z-index: 100;"> ☰
      </p>
      <nav class="grid-middle navigation-background-color page-nav mobile-menu banner" style="background-image: url('{{site.data.colors.navigation-colors.navigation-background_image}}'); z-index: 100;">
        <p class="cross exit right col-12"> ╳
        </p>
        <div class=" textarea-background-color radius-arch banner col-12 grid-middle" style="background-image: url('{{site.data.colors.navigation-colors.navigation-arch-background_image}}');">
         
          <div class=" col-12 grid-center  ">
            <a href="/" class="logo center grow col-12-middle exit"> 
              <img src="{{site.data.general.basics.logo_image}}" alt="{{site.data.general.basics.logo-alt}}" />
            </a>
            <div class="editable col-12 text-med padded navigation-links">
              <p><a class="padded-sides text-med exit" href="/#services">services</a></p>
              <p><a class="padded-sides text-med exit" href="/#reviews">reviews</a></p>
              <p><a href="/photography.html">portfolio</a></p>
              <p><a class="padded-sides text-med exit" href="/#contact">contact</a></p>
            </div>
            <div class=" col-6_xs-9 grid-center navigation-socials">
              <a class="padded-s" href="{{site.data.general.social-links.instagram}}"><span class="iconify" data-icon="ph:instagram-logo-fill"></span></a>
              <a class="padded-s" href="{{site.data.general.social-links.facebook}}"><span class="iconify" data-icon="simple-icons:tiktok"></span></a>
              <a class="padded-s" href="{{site.data.general.social-links.tiktok}}"><span class="iconify" data-icon="brandico:facebook"></span></a>
              <a class="padded-s" href="{{site.data.general.social-links.youtube}}"><span class="iconify" data-icon="dashicons:youtube"></span></a> 

          </div>
            
           </div>
        </div>
      </nav>
    </header>
   

    {{content}}



    <footer class="grid-center padded-top footer-background-color featured-bg">
      <div class="col-12 social-icons-color socials">
        <a href="{{site.data.social-links.instagram}}" class="margin ig"><span class="iconify" data-icon="ph:instagram-logo-fill"></span></a>
        <a href="{{site.data.social-links.facebook}}" class="margin fb "><span class="iconify" data-icon="brandico:facebook"></span></a>
        <a href="{{site.data.social-links.tiktok}}" class="margin tt"><span class="iconify" data-icon="simple-icons:tiktok"></span></a>
        <a href="{{site.data.social-links.youtube}}" class="margin yt "><span class="iconify" data-icon="dashicons:youtube"></span></a>
      </div>
    </footer>


    <div class="col-12-middle center built ">
      <p> 
        <a href="https://www.kingcode.uk" class="padded-sides"> Website by King Code </a> x <br class="desktop-hide" /><a href="https://www.candyandtheking.com" class="padded-sides">  Candy and the King </a> <a href="/" class="padded-right"> © {{site.data.general.basics.your-brand-name}}</a>
      </p>
    </div>